<a href="https://colab.research.google.com/github/ElenaVillano/visualizacionR/blob/main/notebooks/sesion_1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller de visualización de datos

- **Objetivo**: Enseñar a los estudiantes a visualizar y analizar, con el programa R, distintos indicadores sobre democracia, responsabilidad corporativa, libertad de expresión, y derechos humanos en 6 países de América Latina (incluido México). Específicamente, se contempla que se presenten estos resultados al socio formador, Coparmex.

## Temario:

1. Notebooks/R
  - ¿Qué es un notebook?
  - Tipos de celdas (texto, código, resultados)
2. Correr código básico
3. Comentarios
4. R-paquetes
5. Tipos de datos
    - numeric
    - integer
    - character
    - logical
6. Bases de datos

In [22]:
5 + 5

[1] 10

In [ ]:
# Packages
# - ggplot
# - tidyverse
library(tidyverse)

In [52]:
# Variable
a <- 8

In [53]:
a

[1] 8

In [55]:
# Vector
b <- c(1,2,3,4)

In [56]:
b

[1] 1 2 3 4

## Tipos de datos


1. Numeric (1.2, 5, 7, 3.14159)
2. Integer (1, 2, 3, 4, 5)
3. Complex (i + 4)
4. Logical (TRUE / FALSE)
5. Character ("a", "apple")
6. Factor


### Numeric

Números escritos como enteros o decimales.

In [57]:
# Crea un vector de números
x <- c(2, 3, 4, 10.5)
x

[1]  2.0  3.0  4.0 10.5

Podemos revisar el tipo de dato utilizando las funciones:

- `class()`: si es numérico
- `typeof()`: si es double (números con decimales)

In [58]:
class(x)

[1] "numeric"

In [59]:
typeof(x)

[1] "double"

Se pueden hacer operaciones matemáticas con valores numéricos

In [60]:
x + 4

[1]  6.0  7.0  8.0 14.5

### Integer

Número sin decimales.

In [61]:
y <- c(1, 4, 6, 9)

In [62]:
class(y)

[1] "numeric"

In [63]:
y <- as.integer(y)

In [64]:
class(y)

[1] "integer"

### Character

Almacenan texto, también se les conoce como strings, y para indicar que algo es un character se colocan '' '' alrededor.

In [65]:
z <- c('Estos','son','caracteres')

In [66]:
class(z)

[1] "character"

In [67]:
z <- c("1", "4", "5", "7", "8")

In [68]:
z

[1] "1" "4" "5" "7" "8"

In [69]:
mean(z)

Warning message in mean.default(z):
“argument is not numeric or logical: returning NA”

[1] NA

### Factor

Factores son un tipo especial de datos y se usa principalmente para representar variables categóricas.

In [72]:
places <- factor(c("first", "first", "second", "third", "fifth", "fourth", "second"))
places

[1] first  first  second third  fifth  fourth second
Levels: fifth first fourth second third

### Bases de datos

- De preferencia no utilizar excel para almacenar bases de datos.
- Utilizar formato csv, columna-renglón.
- Como cargar las bases de datos en tu propia computadora
- Existen bases de datos pre-cargadas

In [81]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [82]:
class(iris)

[1] "data.frame"

In [83]:
dim(iris)

[1] 150   5

In [84]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50